Repository doomedramen/playwright-coverage-reporter, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, enhancement, documentation, ci/cd, dependencies

.github/labeler.yml:

# Labeler Configuration
# Add labels to PRs based on changed files

bug:
  - "**/*.ts"
  - "**/*.js"

enhancement:
  - "src/**/*.ts"
  - "package.json"

documentation:
  - "*.md"
  - "docs/**"

ci/cd:
  - ".github/**"

dependencies:
  - "package*.json"
  - "yarn.lock"
  - "package-lock.json"

chore: Fix gitignore and pre-push hooks for launch
  .gitignore
  demo-report/coverage-final.json
  demo-report/coverage-report.json
  demo-report/index.html
  demo-report/lcov.info
  lefthook.yml
  package.json
Labels: enhancement, dependencies

Update index.ts
  package.json
  src/index.ts
Labels: bug, enhancement, dependencies

chore: Remove linting from CI workflow to fix publishing
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

chore: Fix Node version requirements and CI workflow for publishing
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

chore: Simplify CI workflow to publish on all main branch pushes
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

chore: Add proper permissions for GitHub releases in CI
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

fix: Correct CLI command name and configuration file references
  package.json
  src/cli.ts
Labels: bug, enhancement, dependencies

fix: page URL configuration not being used properly
  package.json
  src/cli.ts
  src/core/engine.ts
  src/types/index.ts
Labels: bug, enhancement, dependencies

feat: Add selector mismatch analysis tool
  TEST_COVERAGE_IMPROVEMENT_GUIDE.md
  package.json
  src/cli.ts
  src/core/engine.ts
  src/utils/selector-analyzer.ts
Labels: bug, enhancement, documentation, dependencies

Update README.md
  README.md
  package.json
Labels: enhancement, documentation, dependencies

feat: Add Playwright config auto-detection and dev server integration
  README.md
  package.json
  src/cli.ts
  src/core/engine.ts
  src/types/index.ts
  src/utils/playwright-config-reader.ts
  src/utils/web-server-manager.ts
Labels: bug, enhancement, documentation, dependencies

fix: Improve robustness based on team feedback
  README.md
  package.json
  src/cli.ts
  src/core/engine.ts
  src/utils/playwright-config-reader.ts
  src/utils/web-server-manager.ts
Labels: bug, enhancement, documentation, dependencies

fix: resolve multiple critical issues affecting coverage accuracy
  package.json
  src/cli.ts
  src/core/engine.ts
  src/utils/coverage-calculator.ts
  src/utils/web-server-manager.ts
Labels: bug, enhancement, dependencies

Squashed commit of the following:
  .gitignore
  CHANGELOG.md
  README.md
  examples/playwright.ci.config.ts
  examples/playwright.config.ts
  jest.config.js
  package-lock.json
  package.json
  playwright.config.ts
  src/cli.ts
  src/config/playwright-config.ts
  src/core/engine.ts
  src/index.ts
  src/reporter/coverage-reporter.ts
  src/types/index.ts
  src/utils/coverage-calculator.ts
  src/utils/playwright-config-reader.ts
  test-app/package.json
  test-app/playwright.config.js
  test-app/playwright.config.ts
  test-app/sample-app.html
  test-app/tests/global-setup.ts
  test-app/tests/global-teardown.ts
  test-app/tests/interactions.spec.ts
  test-app/tests/login.spec.ts
  test-app/tests/registration.spec.ts
  test-e2e.js
  tests/cli.test.ts
  tests/config.test.ts
  tests/global-setup.ts
  tests/global-teardown.ts
  tests/reporter.test.ts
Labels: bug, enhancement, documentation, dependencies

Fix lefthook configuration to use Playwright test runner
  lefthook.yml
  package.json
Labels: enhancement, dependencies

Fix examples to use console output by default
  README.md
  examples/playwright.console.config.ts
  package.json
Labels: bug, enhancement, documentation, dependencies

Update .gitignore
  .gitignore
  package.json
Labels: enhancement, dependencies

Fix test configuration to use Playwright instead of Jest
  package.json
  playwright.config.ts
Labels: bug, enhancement, dependencies

Fix CLI configuration generation and test framework integration
  package.json
  src/cli.ts
Labels: bug, enhancement, dependencies

Fix CLI configuration and merge function issues
  README.md
  package.json
  src/cli.ts
  src/config/playwright-config.ts
Labels: bug, enhancement, documentation, dependencies

Fix test version expectation to match actual version
  package.json
  tests/cli.test.ts
Labels: bug, enhancement, dependencies

Fix CLI version test to read from package.json dynamically
  package.json
  tests/cli.test.ts
Labels: bug, enhancement, dependencies

Fix playwright config to import from local build for development
  package.json
  playwright.config.ts
Labels: bug, enhancement, dependencies

Temporarily disable pre-push hook to allow push
  lefthook.yml
  package.json
Labels: enhancement, dependencies

Restore pre-push hook and clean up test configs
  examples/playwright.config.ts
  lefthook.yml
  package.json
  test-app/playwright.config.ts
Labels: bug, enhancement, dependencies

Fix Playwright test command issue - use direct program.js path
  lefthook.yml
  package.json
Labels: enhancement, dependencies

Update package-lock.json
  package-lock.json
  package.json
Labels: enhancement, dependencies

Update README with v2.0.15 changelog and recent fixes
  README.md
  package.json
Labels: enhancement, documentation, dependencies

Remove overly enthusiastic marketing language from README
  README.md
  package.json
Labels: enhancement, documentation, dependencies

Fix Playwright CLI conflicts and disable pre-push tests
  lefthook.yml
  package-lock.json
  package.json
Labels: enhancement, dependencies

Fix reporter worker process crashes
  package.json
  src/reporter/coverage-reporter.ts
Labels: bug, enhancement, dependencies

Re-enable pre-push hook for test validation
  lefthook.yml
  package.json
Labels: enhancement, dependencies

Fix circular dependency breaking Playwright test command
  package.json
  src/reporter/coverage-reporter.ts
Labels: bug, enhancement, dependencies

Fix Playwright command parsing interference by removing manual browser launching
  package.json
  playwright.config.ts
  src/reporter/coverage-reporter.ts
Labels: bug, enhancement, dependencies

Fix CLI test to use unique output path for invalid options test
  package.json
  tests/cli.test.ts
Labels: bug, enhancement, dependencies

Implement proper element discovery using Playwright test fixtures
  README.md
  package.json
  src/fixtures/coverage-fixture.ts
Labels: bug, enhancement, documentation, dependencies

Update documentation to emphasize playwright.config.ts integration
  README.md
  package.json
Labels: enhancement, documentation, dependencies

Major cleanup: remove legacy code and focus on fixture-based approach
  TEST_COVERAGE_IMPROVEMENT_GUIDE.md
  demo/login.spec.ts
  demo/navigation.spec.ts
  examples/advanced-usage.ts
  examples/basic-usage.ts
  examples/login.spec.ts
  examples/navigation.spec.ts
  examples/playwright.ci.config.ts
  examples/playwright.console.config.ts
  jest.config.js
  package.json
  playwright-cover.config.js
  src/cli.ts
  src/core/engine.ts
  src/index.ts
  src/reporter/coverage-reporter.ts
  src/reporters/coverage-reporter.ts
  src/reporters/istanbul-reporter.ts
  src/test-hook.txt
  src/types/index.ts
  src/utils/element-discoverer.ts
  src/utils/web-server-manager.ts
  test-app/package.json
  test-app/playwright.config.js
  test-app/sample-app.html
  test-app/tests/global-setup.ts
  test-app/tests/global-teardown.ts
  test-app/tests/interactions.spec.ts
  test-app/tests/login.spec.ts
  test-app/tests/registration.spec.ts
  test-e2e.js
  tests/cli.test.ts
  tests/global-setup.ts
  tests/global-teardown.ts
Labels: bug, enhancement, documentation, dependencies

Update README.md
  README.md
  package.json
Labels: enhancement, documentation, dependencies

full test coverage
  .gitignore
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  playwright.config.ts
  playwright.coverage.config.ts
  playwright.simple.config.ts
  src/fixtures/coverage-fixture.ts
  src/reporter/coverage-reporter.ts
  src/utils/coverage-aggregator.ts
  src/utils/runtime-element-discoverer.ts
  test-app/dynamic.html
  test-app/index.html
  tests/config.test.ts
  tests/global-setup.ts
  tests/integration/basic-coverage.spec.ts
  tests/integration/coverage-e2e.spec.ts
  tests/integration/fixtures.spec.ts
  tests/integration/playwright-integration.spec.ts
  tests/integration/runtime-discovery.spec.ts
Labels: bug, enhancement, documentation, dependencies
