Repository doomedramen/playwright-coverage-reporter, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, enhancement, documentation, ci/cd, dependencies

Fix CI Playwright project name mismatch
  package.json
Labels: enhancement, dependencies

Fix GitHub Actions workflow and TypeScript configuration
  .github/workflows/test.yml
  package.json
  tsconfig.json
Labels: enhancement, ci/cd, dependencies

Simplify CI workflow to use Chrome and Firefox E2E tests only
  .github/workflows/test.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Consolidate and clean up GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/test-with-coverage.yml
  .github/workflows/test.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Optimize Playwright browser installation in CI pipeline
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Fix ESM compatibility in CLI
  package.json
  src/cli.ts
Labels: bug, enhancement, dependencies

Remove CLI and simplify to v3.0.0
  .github/workflows/ci.yml
  README.md
  package.json
  src/cli.ts
  tests/unit/cli-commands.test.ts
Labels: bug, enhancement, documentation, ci/cd, dependencies

Optimize CI workflow: eliminate duplicate Playwright browser installations
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Optimize CI workflow flow and parallelization for faster execution
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Restore E2E test dependency for publishing - safety first
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Fix Firefox browser installation in CI with fallback mechanism
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Fix test server ESM compatibility by renaming to .cjs extension
  package.json
  tests/test-server.cjs
Labels: enhancement, dependencies

Add ESM validation to pre-commit hooks and fix test server script
  lefthook.yml
  package.json
Labels: enhancement, dependencies

Delete test-server.js
  package.json
  tests/test-server.js
Labels: bug, enhancement, dependencies

Fix ESM module resolution with esbuild bundling
  package.json
Labels: enhancement, dependencies

Fix glob dependency bundling for ESM compatibility
  package.json
Labels: enhancement, dependencies

Update build configuration files
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: bug, enhancement, dependencies

Fix Playwright reporter export for ESM compatibility
  package.json
  src/index.ts
Labels: bug, enhancement, dependencies

Add comprehensive bundle validation system
  lefthook.yml
  package.json
  scripts/validate-bundle.js
Labels: bug, enhancement, dependencies

Update package.json
  package.json
Labels: enhancement, dependencies

Fix SelectorAnalyzer test failures
  package.json
  src/reporter/coverage-reporter.ts
  src/utils/config-validator.ts
  src/utils/coverage-calculator.ts
  src/utils/element-filter.ts
  src/utils/selector-analyzer.ts
  tests/fixtures/sample-login.test.ts
  tests/integration/coverage-mapping.integration.test.ts
  tests/integration/report-generation.integration.test.ts
  tests/temp-test-coverage/coverage-recommendations.json
  tests/temp-test-reports/.coverage-data.json
  tests/temp-test-reports/coverage-recommendations.json
  tests/unit/config-validator.test.ts
  tests/unit/coverage-aggregator.test.ts
  tests/unit/coverage-calculator.test.ts
  tests/unit/element-filter.test.ts
  tests/unit/error-handler.test.ts
  tests/unit/performance-optimizer.test.ts
  tests/unit/playwright-config-reader.test.ts
  tests/unit/selector-analyzer.test.ts
Labels: bug, enhancement, dependencies

Fix PerformanceOptimizer memory management and timing tests
  package.json
  src/utils/performance-optimizer.ts
  tests/unit/performance-optimizer.test.ts
Labels: bug, enhancement, dependencies

Fix critical test failures and achieve 100% test pass rate
  package.json
  src/reporter/coverage-reporter.ts
  src/utils/performance-optimizer.ts
  tests/integration/coverage-mapping.integration.test.ts
  tests/unit/performance-optimizer.test.ts
Labels: bug, enhancement, dependencies

Add test temp directories to gitignore and remove existing files
  .gitignore
  package.json
  tests/temp-test-coverage/coverage-recommendations.json
  tests/temp-test-reports/.coverage-data.json
  tests/temp-test-reports/coverage-recommendations.json
Labels: enhancement, dependencies

Enhance pre-push hook to run comprehensive test suite
  lefthook.yml
  package.json
Labels: enhancement, dependencies

Fix CI test failures for ConfigValidator tests
  package.json
  tests/unit/config-validator.test.ts
Labels: bug, enhancement, dependencies

Integrate continuous deployment into CI workflow
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Remove redundant Release workflow
  .github/workflows/release.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Update report-generation.integration.test.ts
  package.json
  tests/integration/report-generation.integration.test.ts
Labels: bug, enhancement, dependencies

feat: Implement missing LCOV and screenshot capture features
  README.md
  package.json
  src/fixtures/coverage-fixture.ts
  src/index.ts
  src/reporter/coverage-reporter.ts
  src/utils/coverage-aggregator.ts
  src/utils/screenshot-capture.ts
  tests/unit/lcov-generation.test.ts
  tests/unit/screenshot-capture.test.ts
Labels: bug, enhancement, documentation, dependencies

fix post install to not need lefthook
  package.json
  scripts/postinstall.js
Labels: bug, enhancement, dependencies

fix: resolve security vulnerabilities in dependencies
  package-lock.json
  package.json
Labels: enhancement, dependencies

fix: update qs to 6.14.1 to resolve GHSA-6rw7-vpxm-498p
  package-lock.json
  package.json
Labels: enhancement, dependencies

ci: remove automated npm publishing
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

feat: add justfile with release automation
  justfile
  package.json
Labels: enhancement, dependencies

fix: adjust justfile syntax for release commands
  justfile
  package.json
Labels: enhancement, dependencies

chore: bump version to 3.1.18
  package-lock.json
  package.json
Labels: enhancement, dependencies

fix: use package-bump instead of npm version
  justfile
  package.json
Labels: enhancement, dependencies

fix: use npx for package-bump
  justfile
  package.json
Labels: enhancement, dependencies

chore: bump version to 3.1.22
  package.json
Labels: enhancement, dependencies

.github/labeler.yml:

# Labeler Configuration
# Add labels to PRs based on changed files

bug:
  - "**/*.ts"
  - "**/*.js"

enhancement:
  - "src/**/*.ts"
  - "package.json"

documentation:
  - "*.md"
  - "docs/**"

ci/cd:
  - ".github/**"

dependencies:
  - "package*.json"
  - "yarn.lock"
  - "package-lock.json"
