Repository doomedramen/playwright-coverage-reporter, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, enhancement, documentation, ci/cd, dependencies

.github/labeler.yml:

# Labeler Configuration
# Add labels to PRs based on changed files

bug:
  - "**/*.ts"
  - "**/*.js"

enhancement:
  - "src/**/*.ts"
  - "package.json"

documentation:
  - "*.md"
  - "docs/**"

ci/cd:
  - ".github/**"

dependencies:
  - "package*.json"
  - "yarn.lock"
  - "package-lock.json"

test updates
  .github/workflows/test-with-coverage.yml
  package.json
  src/cli.ts
  src/reporter/coverage-reporter.ts
  src/utils/config-validator.ts
  src/utils/element-filter.ts
  src/utils/error-handler.ts
  src/utils/performance-optimizer.ts
Labels: bug, enhancement, ci/cd, dependencies

Update README.md
  README.md
  package.json
Labels: enhancement, documentation, dependencies

codecov
  .github/workflows/ci.yml
  .github/workflows/test-with-coverage.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Update test-with-coverage.yml
  .github/workflows/test-with-coverage.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Update config.test.ts
  package.json
  tests/config.test.ts
Labels: bug, enhancement, dependencies

Update test-with-coverage.yml
  .github/workflows/test-with-coverage.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Update test-with-coverage.yml
  .github/workflows/test-with-coverage.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Create .eslintrc.json
  .eslintrc.json
  package.json
Labels: enhancement, dependencies

fixes
  .eslintrc.json
  lefthook.yml
  package.json
  src/index.ts
Labels: bug, enhancement, dependencies

fixes
  .github/workflows/test-with-coverage.yml
  package.json
  src/utils/config-validator.ts
  tests/cli.test.ts
Labels: bug, enhancement, ci/cd, dependencies

Update test-with-coverage.yml
  .github/workflows/test-with-coverage.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Fix CLI conflicts with Playwright by moving @playwright/test to peerDependencies
  package.json
  tests/config.test.ts
  tests/reporter.test.ts
Labels: bug, enhancement, dependencies

Fix npx playwright test CLI conflicts caused by package exports
  .gitignore
  package.json
  src/index.ts
  src/reporter.ts
  test-reproduce/package-lock.json
  test-reproduce/package.json
  test-reproduce/playwright.config.ts
Labels: bug, enhancement, dependencies

Update documentation to reflect package structure changes
  README.md
  package.json
Labels: enhancement, documentation, dependencies

Update documentation to prioritize string-based configuration
  README.md
  package.json
Labels: enhancement, documentation, dependencies

Fix README accuracy and set elementDiscovery default to true
  README.md
  package.json
  src/reporter/coverage-reporter.ts
Labels: bug, enhancement, documentation, dependencies

Make coverage reporter "just work" out of the box
  CHANGELOG.md
  README.md
  package.json
  src/reporter/coverage-reporter.ts
Labels: bug, enhancement, documentation, dependencies

Fix critical coverage tracking issues
  package.json
  playwright.config.ts
  src/analyzers/static-analyzer.ts
  src/reporter/coverage-reporter.ts
  tests/coverage-verification.spec.ts
Labels: bug, enhancement, dependencies

Fix CI workflow and test file conflicts
  .github/workflows/ci.yml
  package.json
  tests/cli.test.ts
Labels: bug, enhancement, ci/cd, dependencies

Fix coverage threshold for CI environments
  package.json
  playwright.config.ts
Labels: bug, enhancement, dependencies

Configure coverage thresholds for dogfooding
  package.json
  playwright.config.ts
  playwright.coverage.config.ts
Labels: bug, enhancement, dependencies

Lower coverage threshold to 5% for mixed test suite
  package.json
  playwright.config.ts
Labels: bug, enhancement, dependencies

Remove coverage threshold from main test suite
  package.json
  playwright.config.ts
Labels: bug, enhancement, dependencies

Fix hardcoded threshold defaults in coverage reporter
  package.json
  src/reporter/coverage-reporter.ts
Labels: bug, enhancement, dependencies

Update documentation for threshold changes
  README.md
  package.json
  simple-coverage-report/.coverage-data.json
Labels: enhancement, documentation, dependencies

Fix GitHub Actions CI to run targeted tests
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Fix CLI tests temp directory management issues
  package.json
  tests/cli.test.ts
Labels: bug, enhancement, dependencies

Fix GitHub Actions CI webkit browser dependencies
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Fix GitHub Actions Playwright browser installation
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Fix CI workflow to use manual browser installation
  .github/workflows/ci.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Fix competing CI workflows and browser installation issues
  .github/workflows/ci.yml
  .github/workflows/test-with-coverage.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Fix prepublishOnly and CI test failures
  .github/workflows/ci.yml
  .github/workflows/test-with-coverage.yml
  package.json
Labels: enhancement, ci/cd, dependencies

Fix critical selector truncation issue in static analyzer
  package.json
  src/analyzers/static-analyzer.ts
Labels: bug, enhancement, dependencies

Fix critical selector normalization issue preventing runtime discovery
  package.json
  src/analyzers/static-analyzer.ts
Labels: bug, enhancement, dependencies

Improve E2E test coverage and fix critical selector normalization issues
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  debug-static-analyzer.ts
  lefthook.yml
  package-lock.json
  package.json
  playwright.config.ts
  simple-debug.js
  src/analyzers/static-analyzer.ts
  src/reporter/coverage-reporter.ts
  src/utils/coverage-aggregator.ts
  tests/cli.test.ts
  tests/config.test.ts
  tests/coverage-verification.spec.ts
  tests/e2e/coverage-reporting-basic.test.ts
  tests/e2e/dynamic-dom-interactions.test.ts
  tests/e2e/playwright-selector-types.test.ts
  tests/fixtures/test-pages.ts
  tests/global-setup.ts
  tests/global-teardown.ts
  tests/integration/basic-coverage.spec.ts
  tests/integration/coverage-e2e.spec.ts
  tests/integration/coverage-mapping-fix.test.ts
  tests/integration/coverage-reporter.integration.test.ts
  tests/integration/fixtures.spec.ts
  tests/integration/playwright-integration.spec.ts
  tests/integration/runtime-discovery.spec.ts
  tests/integration/static-analyzer.integration.test.ts
  tests/reporter.test.ts
  tests/test-server.js
  tests/unit/cli-commands.test.ts
  tests/unit/coverage-calculator.test.ts
  tests/unit/static-analyzer.test.ts
  tests/utils/test-helpers.ts
  vitest.config.ts
Labels: bug, enhancement, ci/cd, dependencies

Fix all Playwright selector tests - achieve 100% pass rate
  package.json
  tests/e2e/playwright-selector-types.test.ts
Labels: bug, enhancement, dependencies

Fix critical E2E test failures caused by coverage reporter JavaScript injection
  package-lock.json
  package.json
  playwright.config.ts
  tests/e2e/coverage-reporting-basic.test.ts
  tests/e2e/dynamic-dom-interactions.test.ts
Labels: bug, enhancement, dependencies

Fix Vitest Node.js 18.x ESM compatibility issue
  package.json
  vitest.config.js
Labels: bug, enhancement, dependencies

Enable full ESM support to resolve Vitest Node.js 18.x compatibility
  package.json
Labels: enhancement, dependencies

Optimize publish scripts to remove redundant test runs
  package.json
Labels: enhancement, dependencies
